<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gastosManager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gastosManager.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gastosManager.Nuevo_usuario_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_nuevo_usuario" >
        </activity>
        <activity
            android:name="com.example.gastosManager.TablayoutActivity"
            android:label="@string/title_activity_tablayout" >
        </activity>
        <activity
            android:name="com.example.gastosManager.CollectionDemoActivity"
            android:label="@string/title_activity_collection_demo" >
        </activity>
    </application>

</manifest>